<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
	<title>admin product category index</title>
</head>
<body>
	
	<div layout:fragment="admin-content">
		
		<table class="mt-5">
			<tr>
				<td width="60"><a th:href="@{/admin/product_categories}">一覧</a></td>
				<td width="70"><a class="btn btn-success" th:href="@{/admin/product_categories/{id}/edit(id=${category.id})}">編集</a></td>
				<td width="60" th:if="${itemCount == 0}">
					<form th:action="@{/admin/product_categories/{id}(id = ${category.id})}" th:method="delete">
						<input type="submit" value="削除" class="btn btn-danger" />
					</form>
				</td>
			</tr>
		</table>
		
		<table class="table">
			<tbody>
				<tr>
					<th width="40">ID</th>
					<td width="60" th:text="${category.id}"></td>
				</tr>
				<tr>
					<th>名称</th>
					<td th:text="${category.name}"></td>
				</tr>
				<tr>
					<th>並び順番号</th>
					<td th:text="${category.orderNo}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>