<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
	<title>admin users index</title>
</head>
<body>
	<div layout:fragment="admin-content">
		<div class="mt-4 mb-3">
			<span th:each="error:${errors}">
				<p class="text-danger" th:text="${error}"></p>
			</span>
		
			<form th:action="@{/admin/users}" th:method="post" enctype="multipart/form-data">
				<div class="mt-2 mb-2">
					<label class="form-label">名称</label>
					<input class="form-control" type="text" name="name" th:value="${name}" placeholder="名称" />
				</div>
				
				<div class="mt-2 mb-2">
					<label class="form-label">メールアドレス</label>
					<input class="form-control" type="text" name="email" th:value="${email}" placeholder="メールアドレス" />
				</div>
				
				<div class="mt-2 mb-2">
					<label class="form-label">パスワード</label>
					<input class="form-control" type="password" name="password" th:value="${password}" placeholder="パスワード" />
				</div>
				
				<div class="mt-2 mb-2">
					<label class="form-label">パスワード(確認)</label>
					<input class="form-control" type="password" name="confirm_password" th:value="${confirmPassword}" placeholder="パスワード(確認)" />
				</div>
				
				<div class="mt-2 mb-2">
					<label class="form-label">イメージ</label>
					<input class="form-control" type="file" name="user_image" />
				</div>
				
				<hr />
				
				<a class="btn btn-secondary" th:href="@{/admin/users}">キャンセル</a>
				<input class="btn btn-primary" type="submit" value="作成" />
			</form>
		
		</div>
	</div>
</body>
</html>