<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
	<title>admin product category index</title>
</head>
<body>
	<div layout:fragment="admin-content">
		<div class="mt-4 mb-3">
			<form th:action="@{/admin/users}" th:method="get" class="border p-3 shadow">
				<div class="container">
					
					<div class="row mb-3">
						<div class="col-lg-6">
							<input class="form-control" type="text" name="name" th:value="${name}" placeholder="名称" />
						</div>
						
						<div class="col-lg-6">
							<input class="form-control" type="text" name="email" th:value="${email}" placeholder="メールアドレス" />
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-4">
							<select class="form-select" name="sort_type">
								<option th:each="type : ${typeList}"
								        th:value="${type.value}" th:text="${type.viewType}"
								        th:selected="${sortType == type.value}">
								</option>
							</select>
						</div>
						
						<div class="col-lg-4">
							<select class="form-select" name="sort_direction">
								<option th:each="sort : ${sortList}"
								        th:value="${sort.value}" th:text="${sort.viewDirection}"
								        th:selected="${sortDirection == sort.value}">
								</option>
							</select>
						</div>
						
						<div class="col-lg-2">
							<select class="form-select" name="display_count">
							    <option th:each="count : ${countList}" 
							            th:value="${count.value}" th:text="${count.viewCount}"
							            th:selected="${displayCount == count.value}">
							    </option>
							</select>
						</div>
						
						<div class="col-lg-2">
							<input class="btn btn-primary" type="submit" value="検索" />
						</div>
						
					</div>
				</div>
				
			</form>
		</div>
		
		<th:block th:if="${ users.size() == 0 }">
			<p>検索結果に一致するデータが存在しません</p>
		</th:block>
		
		<th:block th:id="${ users.size() > 0}">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>名称</th>
						<th>メールアドレス</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="user: ${users}">
						<td style="width: 20px;" th:text="${user.id}"></td>
						<td style="width: 30px;" th:text="${user.name}"></td>
						<td style="width: 30px;" th:text="${user.email}"></td>
					</tr>
				</tbody>
			</table>
			
			<nav>
		    <ul class="pagination pg-blue justify-content-center">
		        <li th:if="${startPage} > 1" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=1'}" tabindex="-2">最初</a>
		        </li>
		        <li th:if="${page} > 1" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${page-1}}" tabindex="-1">前へ</a>
		        </li>
		        <th:block th:if="${endPage}<=0">
		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
		            </li>
		        </th:block>
		        <!-- StartPageからEndPageまでのページ数を表示する -->
		        <th:block th:if="${endPage}>0">
		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage, endPage)}">
		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
		            </li>
		        </th:block>
		        <li th:if="${page} < ${totalPage}" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${page+1}}">次へ</a>
		        </li>
		        <li th:if="${endPage} < ${totalPage}" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${totalPage}}">最後</a>
		        </li>
		    </ul>
			</nav>
		</th:block>
	</div>
</body>
</html>