<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/layout}">
<head>
<title>user product index</title>
</head>
<body>
	<div layout:fragment="user-content" class="card d-block m-2 p-0" style="width: 180px;" th:each="product:${products}">
		<div>
			<img th:src="${product.imagePath}" style="height: 100px;" onerror="this.src='/images/no_image.png'" class="card-img-top">
			<div class="card-body">
				<h5 class="card-name" th:text="${product.name}"></h5>
				<p class="card-description" th:text="${product.description}"></p>
			</div>
		</div>
	</div>
<!--			<nav>-->
<!--		    <ul class="pagination pg-blue justify-content-center">-->
<!--		        <li th:if="${startPage} > 1" class="page-item ">-->
<!--		            <a class="page-link" th:href="@{${url} + '&page=1'}" tabindex="-2">最初</a>-->
<!--		        </li>-->
<!--		        <li th:if="${page} > 1" class="page-item ">-->
<!--		            <a class="page-link" th:href="@{${url} + '&page=' + ${page-1}}" tabindex="-1">前へ</a>-->
<!--		        </li>-->
<!--		        <th:block th:if="${endPage}<=0">-->
<!--		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">-->
<!--		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>-->
<!--		            </li>-->
<!--		        </th:block>-->
<!--		         StartPageからEndPageまでのページ数を表示する -->
<!--		        <th:block th:if="${endPage}>0">-->
<!--		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage, endPage)}">-->
<!--		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>-->
<!--		            </li>-->
<!--		        </th:block>-->
<!--		        <li th:if="${page} < ${totalPage}" class="page-item ">-->
<!--		            <a class="page-link" th:href="@{${url} + '&page=' + ${page+1}}">次へ</a>-->
<!--		        </li>-->
<!--		        <li th:if="${endPage} < ${totalPage}" class="page-item ">-->
<!--		            <a class="page-link" th:href="@{${url} + '&page=' + ${totalPage}}">最後</a>-->
<!--		        </li>-->
<!--		    </ul>-->
<!--			</nav>-->
<!--		</th:block>-->
		
</body>
</html>