<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user/layout/layout}">
<head>
<title>user product index</title>
</head>
<body>
	<div layout:fragment="user-content">
		<div class="container-fluid mt-5">
			<div class="row justify-content-center">
<!--			<div class="row">-->
<!--				<div class="card d-block m-2 p-0" style="width: 180px;" th:each="product:${products}">-->
					
<!--					<a th:href="@{'/products/' + ${product.getId()} }"><img th:src="${product.imagePath}" style="height: 100px;" onerror="this.src='/images/no_image.png'" class="card-img-top"></a>-->
<!--					<div class="card-body">-->
<!--						<a th:href="@{'/products/' + ${product.getId()} }">-->
<!--							<h5 class="card-name" th:text="${product.name}"></h5>-->
<!--						</a>-->
<!--						<p class="card-description" th:text="${'￥' + #numbers.formatInteger(product.price, 3, 'COMMA')}"></p>-->
<!--						<th:block th:unless="${product.wishUserId == @userAccount.getId()}">-->
<!--							<a th:href="${'javascript:save' + product.id + '.submit()'}">♡</a>-->
<!--							<form th:action="@{'/wish_products/' + ${product.getId()} }" th:method="post" th:attr="name=${'save' + product.id}"></form>-->
<!--						</th:block>-->
<!--						<th:block th:if="${product.wishUserId == @userAccount.getId()}">-->
<!--							<a th:href="${'javascript:delete' + product.id + '.submit()'}">♥</a>-->
<!--							<form th:action="@{'/wish_products/' + ${product.getId()} }" th:method="delete" th:attr="name=${'delete' + product.id}"></form>-->
<!--						</th:block>-->
<!--					</div>-->
<!--				</div>-->
				
<!--			</div>-->
			
			<div class="row">
				<select name="sort">
				  <option value='wish'>レビュー評価準</option>
				  <option value='price_min'>価格の安い順</option>
				  <option value='price_max'>価格の高い順</option>
				  <option value='release_date'>最新商品</option>
				</select>
			</div>
			<div id="productList" class="row"></div>
			<nav>
				<ul class="pagination pg-blue justify-content-center" id="productPaging"></ul>
			</nav>
			
			<nav>
		    <ul class="pagination pg-blue justify-content-center">
		        <li th:if="${page} > 1" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=1'}" tabindex="-2">最初</a>
		        </li>
		        <li th:if="${page} > 1" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${page-1}}" tabindex="-1">前へ</a>
		        </li>
		        <th:block th:if="${endPage}<=0">
		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
		            </li>
		        </th:block>
		        <!-- StartPageからEndPageまでのページ数を表示する -->
		        <th:block th:if="${endPage}>0">
		            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(page, endPage)}">
		                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
		            </li>
		        </th:block>
		        <li th:if="${page} < ${totalPage}" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${page+1}}">次へ</a>
		        </li>
		        <li th:if="${page} < ${endPage}" class="page-item ">
		            <a class="page-link" th:href="@{${url} + '&page=' + ${totalPage}}">最後</a>
		        </li>
		    </ul>
			</nav>
			
			
		</div>
		
        
        <script th:inline="javascript">
			let userAccountId = /*[[${@userAccount.getId()}]]*/ {};
		</script>
		<script th:inline="javascript" th:src="@{/js/products.js}"></script>
		
		
	</div>
		
</body>
</html>