<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/layout/layout}">
<head>
<title>admin product index</title>
</head>
<body>
	<div layout:fragment="admin-content">
		
		<div class="mt-4 mb-3">
			<form th:action="@{/admin/products}" th:method="get" class="border p-3 shadow">
				<div class="container">
					<div class="row mb-2">
						<div class="col-lg-4">
							<select class="form-select" name="category_id">
								<option th:value="0" th:text="すべてのカテゴリー"></option>
								<option th:each="category:${categories}" th:value="${category.id}" th:selected="${category.id == categoryId}" th:text="${category.name}"></option>
							</select>
						</div>
						<div class="col-lg-8">
							<input class="form-control" type="text" name="name" th:value="${name}" placeholder="名称" />
						</div>
					</div>
					
					<div class="row mt-3 mb-3">
						<div class="col-lg-8 pe-0">
							<input class="form-control pe-0" type="number" name="price" th:value="${price}" placeholder="価格" />
						</div>
						<div class="col-lg-3 bg-secondary-subtle rounded">
							<div class="col-auto form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="standard" value="over" checked="checked" >
							  <label class="form-check-label">以上</label>
							</div>
							<div class="col-auto form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="standard" value="less">
							  <label class="form-check-label">以下</label>
							</div>
						</div>
					</div>
					
					<div class="row mt-2">
						<div class="col-lg-4">
							<select class="form-select" name="sort_type">
								<option value="id" th:selected="${sortType == 'id'}">並び替え:ID</option>
								<option value="category_name" th:selected="${sortType == 'category_name'}">並び替え:商品カテゴリー</option>
								<option value="name" th:selected="${sortType == 'name'}">並び替え:名称</option>
								<option value="price" th:selected="${sortType == 'price'}">並び替え:価格</option>
							</select>
						</div>
						
						<div class="col-lg-4">
							<select class="form-select" name="sort_direction">
								<option value="asc" th:selected="${sortDirection == 'asc'}">並び替え方向:昇順</option>
								<option value="desc" th:selected="${sortDirection == 'desc'}">並び替え方向:降順</option>
							</select>
						</div>
						
						<div class="col-lg-2">
							<select class="form-select" name="display_count">
								<option value="10" th:selected="${displayCount == 10}">表示:10件</option>
								<option value="20" th:selected="${displayCount == 20}">表示:20件</option>
								<option value="50" th:selected="${displayCount == 50}">表示:50件</option>
								<option value="100" th:selected="${displayCount == 100}">表示:100件</option>
							</select>
						</div>
						
						<div class="col-lg-2">
							<input class="btn btn-primary" type="submit" value="検索" />
						</div>
						
					</div>
				</div>
			</form>
		</div>
		
		<a class="mb-3 btn btn-success" th:href="@{/admin/products/create}">新規</a>
		
		<table class="table table-striped">
			<thead>
				<tr class="border-top border-bottom">
					<th>ID</th>
					<th>商品カテゴリー</th>
					<th>名称</th>
					<th>価格</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="product:${products}">
					<td width="10" th:text="${product.id}"></td>
					<td width="100" th:text="${product.categoryName}"></td>
					<td width="200"><a th:href="@{/admin/products/{id}(id=${product.id})}" th:text="${product.name}"></td>
					<td width="20" th:text="${'￥' + T(java.lang.String).format('%,d', product.price)}"></td>
				</tr>
			</tbody>
		</table>
		
		<nav>
	    <ul class="pagination pg-blue justify-content-center">
	        <li th:if="${startPage} > 1" class="page-item ">
	            <a class="page-link" th:href="@{${url} + '&page=1'}" tabindex="-2">最初</a>
	        </li>
	        <li th:if="${page} > 1" class="page-item ">
	            <a class="page-link" th:href="@{${url} + '&page=' + ${page-1}}" tabindex="-1">前へ</a>
	        </li>
	        <th:block th:if="${endPage}<=0">
	            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${startPage}">
	                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
	            </li>
	        </th:block>
	        <!-- StartPageからEndPageまでのページ数を表示する -->
	        <th:block th:if="${endPage}>0">
	            <li class="page-item " th:classappend="${i == page} ? active" th:each="i : ${#numbers.sequence(startPage, endPage)}">
	                <a class="page-link" th:href="@{${url} + '&page=' + ${i}}" th:text="${i}"></a>
	            </li>
	        </th:block>
	        <li th:if="${page} < ${totalPage}" class="page-item ">
	            <a class="page-link" th:href="@{${url} + '&page=' + ${page+1}}">次へ</a>
	        </li>
	        <li th:if="${endPage} < ${totalPage}" class="page-item ">
	            <a class="page-link" th:href="@{${url} + '&page=' + ${totalPage}}">最後</a>
	        </li>
	    </ul>
		</nav>
		
	</div>
</body>
</html>